{% extends 'base.html' %}
{% block title %}
    Edit Recipe
{% endblock title %}

{% block content %}
    <div class="container" style="width: 50%;">
        <h4 class="text-center">Editing To Recipe</h4>
        <div class="card">
            <form class="card-body" method="post">
                {% csrf_token %}
                <label for="day" class="form-label">Day-Time : </label>
                <input class='form-control' name='day' type="text" value='{{ data.day }}'>
                <label for="name" class="form-label">Name : </label>
                <input type="text" name="name" value="{{ data.name }}" class="form-control">
                <label for="description" class="form-label">Description : </label>
                <input type="text" name="description" value="{{ data.description }}" class="form-control">
                <button class='btn btn-light' type="submit">Save Changes</button>
            </form>
        </div>
    </div>    
{% endblock content %}
    
    