{% extends 'base.html' %}


{% block title %}
    RMP Login Page
{% endblock title %}


{% block content %}
    <div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-4" style="width: 380px; border-radius: 12px;">
        <h4 class="text-center mb-4 fw-bold">Login</h4>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required >
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-2">
                Login
            </button>
            <small class="d-block text-center mt-3">
                Don’t have an account?
                <a href="{% url 'RMPRegister' %}" class="text-decoration-none fw-semibold">
                    Register here
                </a>
            </small>
        </form>
    </div>
</div>

{% endblock content %}
    