{% extends 'base.html' %}


{% block title %}
    RMP Register Account
{% endblock title %}
    
{% block content %}
    <div class="container" style="width:35%;"> 
        <div class="card p-2">
            <h4 class="text-center">New Registration</h4>
            <form class="card-body" method="post">
                {% csrf_token %}
                <label class='form-label' for="username">Username</label>
                <input class='form-control' type="text" name="username" id="username" placeholder="Enter Your Username" required>
                <label class='form-label' for="password">Password</label>
                <input class='form-control mb-2' type="password" name="password" id="password" placeholder="Enter Your Password" required>
                <button class='btn btn-info mb-1' type="submit">Register</button>
                <small class="text-center">To go <a class="fw-semibold text-decoration-none" href="{% url 'RMPLogin' %}">Login Page</a></small>
            </form>
        </div>
    </div>
    
{% endblock content %}
    