# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Django collected/static files
staticfiles/
media/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/